Quoted RFC has been superseded, information obsolete

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Which topic?

https://developer.adobe.com/commerce/php/development/cache/page/public-content/

### What's wrong with the content?

In the Public Content page, Invalidate public content Section, the article is referring to the RFC-2616 section 13, the RFC-2616 has been superseded and there are newer version RFC 7234 and  RFC 9110 about caching specifically.

### What changes do you propose?

Use newer version RFC, RFC 7234 and  RFC 9110. Refer to this link https://www.rfc-editor.org/rfc/rfc9110.html

### Anything else that can help to cover this?

_No response_

The Private Content page, section Invalidate private content has the same issue, referring to an obsolete RFC
https://developer.adobe.com/commerce/php/development/cache/page/private-content/